################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AssinaturaXml/bin/Debug
/.vs/AssinaturaXml/v15/Server/sqlite3
